.slds-card__header{
	background-color:#e5e5e5;
	padding-bottom: var(--sds-c-card-header-spacing-block-start, var(--slds-c-card-header-spacing-block, var(--sds-c-card-header-spacing-block, var(--lwc-varSpacingVerticalSmall,0.75rem))));
}
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-large {
    font-size: 1.5rem;
}

.text-normal {
    font-size: 1rem;
    margin-bottom: 1rem;
}


.download-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.slds-button__icon_right {
    margin-left: 0.5rem;
}

.button-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.refresh-button {
    padding: 0.5rem 1rem;
}

.white-icon .slds-icon {
    fill: white;
}
.svg__container{
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.svg__class{
	height: 20px;
	width: 20px;
}
.gray-text {
    color: darkgray;
}

.black-button {
    background-color: black;
    border-color: black;
}

.black-button:hover {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

.uniform-button{
	width: 100%;
	height: 30px;
}

.request-response-container {
    padding: 1rem; /* Adiciona um pouco de espaço dentro da borda */
    margin-bottom: 1rem; /* Espaço abaixo do contêiner */
}

.request-container, .response-container {
    background-color: #fff; /* Fundo branco para destacar individualmente */
    border: 1px solid black; /* Borda sutil para os contêineres internos */
    margin-bottom: 0.5rem; /* Espaço abaixo de cada contêiner */
    padding: 0.5rem; /* Espaço interno para os contêineres */
    overflow-x: auto; /* Permite rolagem horizontal se o conteúdo for muito largo */
}
